---
import { Icon } from "astro-icon/components";
import KVPair from "./schema/KVPair.astro";
import { useTranslation } from "../i18n";

interface Props {
  id: string;
  name: string;
  // generic
  type: string;
  allowedValues?: (string | number | boolean | null)[];
  // numeric
  minimum?: number;
  maximum?: number;
  multipleOf?: number;
  // string
  minLength?: number;
  maxLength?: number;
  // array
  minItems?: number;
  maxItems?: number;
  // object
  minProperties?: number;
  maxProperties?: number;
}

const {
  id,
  name,
  type,
  allowedValues,
  minimum,
  maximum,
  multipleOf,
  minLength,
  maxLength,
  minItems,
  maxItems,
  minProperties,
  maxProperties,
} = Astro.props;

const hasLimits =
  (allowedValues != null && allowedValues.length > 0) ||
  minimum != null ||
  maximum != null ||
  multipleOf != null ||
  minLength != null ||
  maxLength != null ||
  minItems != null ||
  maxItems != null ||
  minProperties != null ||
  maxProperties != null;

const __ = useTranslation(Astro);
---

<div class="mb-8" id={id}>
  <h3 class="text-2xl font-bold mb-2">
    <a href={`#${id}`}>
      <span class="hover:underline">{name}</span>
      <Icon name="link" class="inline-block text-slate-400" />
    </a>
  </h3>
  <div class="text-lg text-slate-500">{type}</div>

  {
    Astro.slots.has("description") && (
      <div class="leading-tight mb-2">
        <slot name="description" />
      </div>
    )
  }

  {
    hasLimits && (
      <div class="flex gap-2">
        {minimum != null && (
          <KVPair title={__("kvpair.minimum")} value={minimum} />
        )}
        {maximum != null && (
          <KVPair title={__("kvpair.maximum")} value={maximum} />
        )}
        {multipleOf != null && (
          <KVPair title={__("kvpair.multipleOf")} value={multipleOf} />
        )}
        {minLength != null && (
          <KVPair title={__("kvpair.minLength")} value={minLength} />
        )}
        {maxLength != null && (
          <KVPair title={__("kvpair.maxLength")} value={maxLength} />
        )}
        {minItems != null && (
          <KVPair title={__("kvpair.minItems")} value={minItems} />
        )}
        {maxItems != null && (
          <KVPair title={__("kvpair.maxItems")} value={maxItems} />
        )}
        {minProperties != null && (
          <KVPair title={__("kvpair.minProperties")} value={minProperties} />
        )}
        {maxProperties != null && (
          <KVPair title={__("kvpair.maxProperties")} value={maxProperties} />
        )}
        {allowedValues != null && allowedValues.length > 0 && (
          <KVPair title={__("kvpair.allowedValues")} value={allowedValues} />
        )}
      </div>
    )
  }

  <slot name="properties" />

  {
    Astro.slots.has("usages") && (
      <div class="mt-3">
        <h3 class="text-2xl font-bold mb-2">{__("resource.sections.usage")}</h3>
        <slot name="usages" />
      </div>
    )
  }
</div>

<style>
  .visible {
    visibility: visible;
  }
</style>
